*
{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #f4e4ba;
}
.container
{
    background-color: #fff;
    border-radius: 2rem;
    padding:2rem;
    min-height:45vh;
    width:40vh;

}
form
{
   margin: 2rem 0 1rem 0;
} 
form select,button,input{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}

form input{
    border:1px solid lightgray;
    font-size: 1rem;
    height:50px;
    padding-left: 10px;
}
.dropdown
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;

}
.select-container img
{
max-width:25px;
}
.select-container{
    display:flex;
    justify-content: center;
    align-items:center;
    width:80px;
    border-radius: 28px;
    border:1px solid lightgray;

}
.msg
{
    margin: 2rem 0 2rem 0;
}
form button
{
  height:3rem;
  background-color: #af4d98;
  color:white;
  font-size:1.15rem;
  cursor:pointer;
}